# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Let DVC write precise ignore lines per file
# (do NOT blanket-ignore data/* or models/*)

# MLflow local store (optional to ignore)
mlruns/

# Jupyter
.ipynb_checkpoints/
