# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# DVC-tracked data & models (we'll push via DVC, not git)
data/*
!data/.gitkeep
models/*
!models/.gitkeep

# MLflow local store (unused when on DagsHub, but ignore just in case)
mlruns/

# Jupyter
.ipynb_checkpoints/
